@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
.App {
  text-align: center;
  background-color: #F2EDD7;
  max-width: 1200px;
  margin: auto;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu{
  width: 100%;
  padding-top: 10px;
}
.menu-container{
 float: right;
 
}
.menu-opt{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color : black;
  
  margin-right: 40px;
}
/* -------------------home----------------- */

.home{
  display: flex;
  height: 700px;
}
.home-img{
  width: 500px;
  height: 500px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.lines{
  width: 450px;
  height:450px;
  border: 5px solid white;
  z-index: 4;
  position: relative;
  left: 140px;
  bottom: 1375px;
}

.geto{
  z-index: 3;
  left: 120px;
  top:120px;
}
.hill{
  z-index: 2;
  left:90px;
  bottom: 910px;
}
.bill{
  z-index: 1;
  left:60px;
  bottom: 440px;
}

.home-intro {
  margin: 20% 27%;
}
.home-title{
  font-family: 'Ultra', serif;
  font-size: 50px;
  width: 500px;
}
.home-quoOne{
  font-family: 'Lora', serif;
  font-size: 40px;
  
}
.home-quoTwo{
  font-family: 'Lora', serif;
  font-size: 20px;
  position: relative;
  bottom: 30px;
  left:140px;
}

/* -------------------services----------------- */

.services{
  
  height: 700px;
}

.serve-wrapper{
  display: flex;
}

.serv-list{
  width: 100%;
  margin-top: 50px;
}

.serv-title{
  font-family: 'Roboto', sans-serif;
  width: 80%;
  margin: auto;
}